		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content"> 
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							{% if current_user.is_authenticated %}
							<img src="{{ url_for('static', filename = 'profile_pics/' + current_user.image_file ) }}" alt="..." class="avatar-img rounded-circle">
							{% else %}
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
							{% endif %}
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ current_user.username }}
									{% if current_user.is_authenticated %}
									<span class="user-level">User</span>
									{% else %}
									<span class="user-level">Guest</span>
									{% endif %}
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="{{url_for('account') }}">
											<span class="link-collapse" href="{{url_for('account') }}" >My Profile</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="/index.html">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item {% if 'dashboard1' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard1" class="collapsed" aria-expanded="false">
								<i class="icon-folder-alt"></i>
								<p>Files</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard1">
								<ul class="nav nav-collapse">
									<li>
										<a href="/public.html">
											<span class="sub-item">Documents</span>
										</a>
									</li>
									<li>
										<a href="/calendar.html">
											<span class="sub-item">Downloads</span>
										</a>
									</li>
									<li>
										<a href="/calendar.html">
											<span class="sub-item">Uploads</span>
										</a>
									</li>


								</ul>
							</div>
						</li>

						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li>

						<!--
							my webpages
						-->
						<li class="nav-item {% if 'ui-1' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base1">
								<i class="icon-calendar"></i>
								<p>Calender</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base1">
								<ul class="nav nav-collapse">
									<li>
										<a href="/calendar.html">
											<span class="sub-item">Calender</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'ui-2' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base2">
								<i class="icon-user-following"></i>
								<p>Membership</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base2">
								<ul class="nav nav-collapse">
									<li>
										<a href="/membership.html">
											<span class="sub-item">Membership Form</span>
										</a>
									</li>
									<li>
										<a href="/members_list.html">
											<span class="sub-item">Members list</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'ui-3' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base3">
								<i class="icon-wallet"></i>
								<p>Accounts/Finances</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base3">
								<ul class="nav nav-collapse">
									<li>
										<a href="/tithe-form.html">
											<span class="sub-item">Tithe Form</span>
										</a>
									</li>
									<li>
										<a href="/offering-list.html">
											<span class="sub-item">Offering List</span>
										</a>
									</li>
									<li>
										<a href="/fundraising-form.html">
											<span class="sub-item">Fundraiser Form</span>
										</a>
									</li>
									<li>
										<a href="/fundraising-list.html">
											<span class="sub-item">Fundraiser Form</span>
										</a>
									</li>
									<li>
										<a href="/fundraising-list.html">
											<span class="sub-item">Fundraiser Form</span>
										</a>
									</li>
									<li>
										<a href="/fundraising-form.html">
											<span class="sub-item">Fundraiser Form</span>
										</a>
									</li>

								</ul>
							</div>
						</li>


						<li class="nav-item {% if 'ui-4' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#base4">
								<i class="icon-heart"></i>
								<p>Volunteer</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base4">
								<ul class="nav nav-collapse">
									<li>
										<a href="/calendar.html">
											<span class="sub-item">Volunteer Activities</span>
										</a>
									</li>
									<li>
										<a href="/calendar.html">
											<span class="sub-item">Volunteer Form</span>
										</a>
									</li>
									<li>
										<a href="/ui-notifications.html">
											<span class="sub-item">notifications</span>
										</a>
									</li>

								</ul>
							</div>
						</li>



						<!--end of my webpages-->


						
					</ul>
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        