{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        
        <div style="left: 0; width: 100%; height: 2560px; position: relative;"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSekkrIborekia59ZKnjCcq_2aF-bPI839LcXgNa-2tyLTFxpg/viewform?edit_requested=true&embedded=true&usp=embed_googleplus" style="top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;" allowfullscreen></iframe></div>

    </div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}

